body {
  font-size: 1.1rem;
  font-family: 'new roman';
}

.logo {
  height: 120px;
  width: 100%;
}

.picturelogo {
  width: 50%;
  position: relative;
  float: left;
}

a:visited {
  color: aqua;

}

.promo {
  width: 270px;
}

img {
  max-width: 100%;
  height: auto;
}

.titresite {
  width: 50%;
  position: relative;
  padding-top: 14px;
  font-size: 28px;
  margin-left: 40%;
}

nav {
  border-radius: 10px;
  background-color: gray;
  width: 100%;
  height: auto;
  margin: 13px 0;
  padding-top: 1px;
  padding-bottom: 1px;
}

.menupc li {
  display: inline;
  list-style: none;

}

a {
  color: #fff;
}

.banner {
  width: 100%;
}


.container {
  display: flex;
  max-width: 100%;
  margin: 2px 2px;
}

.post {
  position: relative;
  max-width: 100%;
  width: 80%;

}

.sidebar {
  position: relative;
  padding-left: 4px;
  margin: 16px 1px;
  width: 20%;
  background-color: grey;
  border: 1px transparent;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .menupc li {
    flex-direction: column;

  }

  .post {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #slogan {
    text-align: justify;
  }

  .titresite {

    font-size: smaller;

  }
}