h1 {
    color: cyan;
}
body {
    background: linear-gradient(90deg, #606fc3, #b32ebf);
}
h1
{
    font-weight: 900;
}
.element{
    border: solid;
}
header{
    background-color: aqua; 
    height: 80px;
    margin: 20px;
}
* {
    font-family: Arial;
  }
  
  fieldset {
    border: none;
    background-color:  lightblue;
    border: 2px solid cyan;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  legend {
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px;
  }